body{
    display: grid;
    grid-template-rows: repeat(1,100%);
    border: aqua 2px solid;
    gap: 3px;
    -webkit-box-shadow: -4px 4px 36px -11px rgba(0,0,0,1);
    -moz-box-shadow: -4px 4px 36px -11px rgba(0,0,0,1);
    box-shadow: -4px 4px 36px -11px rgba(0,0,0,1);
}
textarea{
    margin: 5px;
    padding: 5px;
    min-height: 200px;
    min-width: auto;
}
.title{
    justify-self: center;
}
button{
    width: fit-content;
    height: auto;
    padding: 5px;
    margin: 5px;
    color: #9a4040;
    background: #9acbcb;
}
